{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<!-- add_team.html -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Team</title>

    <style>
    select {
        width: 100%; /* Set width to 100% to make the select box take up the full width of its container */
        padding: 10px; /* Add some padding for aesthetics */
        color: black; /* Set font color to black */

    }
</style>

</head>
<body>
    <h1>Add Team</h1>
    <form action="{{ url_for('auth.add_team') }}" method="POST">
        <label for="team">Select a team to follow:</label>
        <select name="team" id="team">
            {% for team in teams %}
        <option value="{{ team}}">{{ team }}</option>

            {% endfor %}
        </select>
        <button type="submit">Add Team</button>
    </form>
</body>
</html>
{% endblock %}

