{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <div class="container">
        <h1>Hello, {{ user_name }}</h1>
    <p>You are following the following teams:</p>
    <ul>
        {% for team in teamsFollowed %}
            <li>{{ team.name }}</li>
        {% endfor %}
    </ul>

<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>

<!-- templates/stats.html -->
 <title>Stats Page</title>
    <style>
        /* Add your CSS styles here */
        /* For example: */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Current NBA Teams </h1>
    <table>
        <thead>
            <tr>

                <th>Team Name</th>

            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
            <tr>

                <td>{{ team.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
    </div>