{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Password (Confirm)</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />

    <!--IF WE WANT TO SWITCH THAT THE USER CAN SELECT MANY TEAMS, SWITCH THIS TO BE CHECKBOX INSTEAD OF A DROPDOWN-->

  <div class="form-group">
  <label for="teamsFollowed">Select teams you want to follow</label>
  <select class="form-control" id="teamsFollowed" name="teamsFollowed" multiple>
    <option value="atlanta_hawks">Atlanta Hawks</option>
    <option value="boston_celtics">Boston Celtics</option>
    <option value="brooklyn_nets">Brooklyn Nets</option>
    <option value="charlotte_hornets">Charlotte Hornets</option>
    <option value="chicago_bulls">Chicago Bulls</option>
    <option value="cleveland_cavaliers">Cleveland Cavaliers</option>
    <option value="dallas_mavericks">Dallas Mavericks</option>
    <option value="denver_nuggets">Denver Nuggets</option>
    <option value="detroit_pistons">Detroit Pistons</option>
    <option value="golden_state_warriors">Golden State Warriors</option>
    <option value="houston_rockets">Houston Rockets</option>
    <option value="indiana_pacers">Indiana Pacers</option>
    <option value="los_angeles_clippers">Los Angeles Clippers</option>
    <option value="los_angeles_lakers">Los Angeles Lakers</option>
    <option value="memphis_grizzlies">Memphis Grizzlies</option>
    <option value="miami_heat">Miami Heat</option>
    <option value="milwaukee_bucks">Milwaukee Bucks</option>
    <option value="minnesota_timberwolves">Minnesota Timberwolves</option>
    <option value="new_orleans_pelicans">New Orleans Pelicans</option>
    <option value="new_york_knicks">New York Knicks</option>
    <option value="oklahoma_city_thunder">Oklahoma City Thunder</option>
    <option value="orlando_magic">Orlando Magic</option>
    <option value="philadelphia_76ers">Philadelphia 76ers</option>
    <option value="phoenix_suns">Phoenix Suns</option>
    <option value="portland_trail_blazers">Portland Trail Blazers</option>
    <option value="sacramento_kings">Sacramento Kings</option>
    <option value="san_antonio_spurs">San Antonio Spurs</option>
    <option value="toronto_raptors">Toronto Raptors</option>
    <option value="utah_jazz">Utah Jazz</option>
    <option value="washington_wizards">Washington Wizards</option>
  </select>
</div>

  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
